.main-section {
   background: url("/img/main-section/main.jpeg") left / cover no-repeat;
}

.main-section__container {}

.main-section__content {
   min-height: 500px;
   color: #fff;
   max-width: 790px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   padding-bottom: 50px;
}

.main-section__header {
   color: rgb(255, 255, 255);
   font-family: Cormorant;
   font-size: 60px;
   font-weight: 400;
   line-height: 100%;
   margin-bottom: 25px;
}

.main-section__text {
   color: rgb(255, 255, 255);
   font-family: Cormorant;
   font-size: 24px;
   font-weight: 400;
   line-height: 29px;
   max-width: 560px;

}

// ========= Адаптив main-section ================= //
@media(max-width: 991.98px) {}

@media(max-width: 767.98px) {
   .main-section__header {
      font-size: 40px;
   }


}

@media(max-width: 400px) {

   .main-section__tex {
      font-size: 13px;
   }
}


// ================================================// 

//============= collection ========================// 


.collection {
   min-width: 100%;
   padding: 150px 0;
}

.collection__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}


.collection__quote {
   text-align: center;
   color: rgb(21, 22, 24);
   font-family: Cormorant;
   font-size: 40px;
   font-weight: 300;
   line-height: 48px;
   max-width: 705px;
   position: relative;
   z-index: 5;
   font-style: italic;

   padding-bottom: 150px;

   span {
      position: relative;
   }

   span:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      opacity: 0.5;
      padding-left: 10px;
      display: inline-block;
      background: rgb(247, 242, 234);
      width: 359px;
      height: 61px;
      z-index: -1;
   }
}

@media(max-width: 767.98px) {
   .collection__quote {
      font-size: 24px;
      line-height: 24px;
      max-width: 400px;
      padding-bottom: 60px;

      span:before {
         width: 100%;
         height: 100%;
      }
   }

   .collection {
      padding: 60px 0;
   }
}

@media(max-width: 450px) {
   .collection__quote {
      font-size: 18px;
      line-height: 22px;


      span:before {
         width: 100%;
         height: 100%;
      }
   }

   .main-section__tex {
      font-size: 13px;
   }

}


// =========================================== // 

.collection__heading {
   color: rgb(21, 22, 24);
   font-family: Cormorant;
   font-size: 40px;
   font-weight: 400;

   padding-bottom: 60px;
}

.collection__body {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 40px;
}


.collection__image {
   max-height: 200px;
   max-width: 200px;

   img {
      width: 100%;
      object-fit: cover;
   }
}

.collection__name-tea {
   margin-top: 10px;
   text-align: center;
   color: rgb(21, 22, 24);
   font-family: Cormorant;
   font-size: 24px;
   font-weight: 400;
}




//============= АДАПТИВ-collection =============================== //



@media(max-width: 1210px) {
   .collection__body {
      gap: 30px;
      row-gap: 0px;
   }


}

@media(max-width: 500.98px) {
   .collection__container {
      padding: 0px 0px;
   }

   .collection__heading {
      font-size: 30px;
   }

   .collection__image {
      max-height: 160px;
      max-width: 160px;
   }

}



//=============== rewievs =======================================================//

.rewievs {
   padding: 60px 0;
   background: rgb(247, 242, 234, 0.5);
}

.rewievs__container {}

.rewievs__heading {
   color: rgb(21, 22, 24);
   font-family: Cormorant;
   font-size: 40px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 60px;
}

.rewievs__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0 -15px;
   row-gap: 30px;
}

.rewievs__item {
   flex: 0 1 25%;
   padding: 0 15px;
}

.rewievs__text {
   color: rgb(21, 22, 24);
   font-family: "Open Sans";
   font-style: italic;
   font-size: 16px;
   font-weight: 300;
   line-height: 22px;
   margin-bottom: 15px;
}

.rewievs__name {
   color: rgb(21, 22, 24);
   font-family: Open Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
}

@media (max-width: 1200px) {
   .rewievs__item:last-child {
      display: none;
   }

   .rewievs__item {
      flex: 0 1 33.33%;
   }
}

@media (max-width: 767px) {
   .rewievs__item:last-child {
      display: block;
   }

   .rewievs__item {
      flex: 0 1 50%;
   }
}

@media (max-width: 450px) {
   .rewievs__item {
      flex: 0 1 100%;
   }
}









// =============== BLOG ======================= // 

.blog {
   padding: 150px 0;
}

.blog__container {}


.blog__header {
   text-align: center;
   margin-bottom: 60px;
}

.blog__list {
   display: flex;
   flex-wrap: wrap;
   gap: 10%;
   row-gap: 40px;
   margin-bottom: 60px;
}

.blog__item {
   width: 100%;
   flex: 1 1 45%;

   display: flex;
}

.blog__image {
   flex: 0 0 50%;

   img {
      width: 100%;
      object-fit: cover;
      height: 100%;
   }
}

.blog__content {
   display: flex;
   flex-direction: column;
   padding-left: 20px;

}

.blog__title-link {
   display: inline-block;
   color: rgb(21, 22, 24);
   font-family: Cormorant;
   font-size: 24px;
   font-weight: 400;
   line-height: 29px;
}

.blog__title {
   min-height: 86px;
   margin-bottom: 10px;
}

.blog__by-link {
   display: inline-block;
   color: rgb(21, 22, 24);
   font-family: 'Open Sans';
   font-size: 13px;
   font-weight: 300;

}

.blog__read {
   font-family: 'Open Sans';
   font-size: 13px;
   font-weight: 300;
   line-height: 18px;

   margin-top: auto;
   position: relative;

   &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 35px;
      width: 8px;
      height: 8px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
   }
}

.blog__button-box {
   width: 100%;
   text-align: center;
}

.blog__button {
   display: inline-block;
   color: rgb(21, 22, 24);
   background: White;
   transition: all 0.5s ease;
}


// ===================== АДАПТИВ BLOG ============================= //

@media(max-width: 991.98px) {
   .blog {
      padding: 120px 0;
   }

   .blog__list {
      flex-direction: column;
      align-items: start;
      gap: 10%;
      row-gap: 40px;
      margin-bottom: 60px;
   }

   .blog__item {
      max-width: 542px;
      flex: 1 1 auto;
   }

   .blog__item:nth-child(even) {
      align-self: end;
   }
}

@media(max-width: 767.98px) {
   .blog {
      padding: 60px 0;
   }
}

@media(max-width: 450px) {
   .blog__item {
      flex-direction: column;
   }

   .blog__content {
      padding-left: 0;
   }

   .blog__title {
      min-height: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .blog__by-link {
      margin-bottom: 10px;
   }

   .blog__list {
      margin-bottom: 30px;
   }
}







// ======================== block-form ============================= // 

.block-form {
   background: rgb(247, 242, 234);
   padding: 100px 0;
}

.block-form__header {
   text-align: left;
   margin-bottom: 60px;
}


.block-form__box {
   display: flex;
   gap: 40px;
   align-items: center;
}

.block-form__text {
   flex: 1 1 50%;
   color: rgb(21, 22, 24);
   font-family: 'Open Sans';
   font-size: 20px;
   font-weight: 300;
   line-height: 150%;
}

.block-form__forma {
   flex: 1 1 50%;
}

.block-form__form-box {
   width: 100%;
   display: flex;
   align-items: start;
   margin-bottom: 20px;

   .block-form__input {
      border: none;
      background: rgb(247, 242, 234);
      border-bottom: 1px solid rgb(184, 181, 139);
      padding: 12px 0px 12px 15px;

      flex: 0 1 75%;
      margin-right: 5%;
      margin-bottom: 20px;

      color: #000;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 300;

      &::placeholder {
         color: rgb(184, 181, 139);
         font-family: "Open Sans";
         font-size: 20px;
         font-weight: 300;
      }
   }

   .block-form__button {
      display: inline-block;
      color: rgb(21, 22, 24);
      font-family: 'Open Sans';
      background: #fff;
      font-size: 20px;
      font-weight: 300;
      padding: 12px 41px;
      border: 1px solid rgb(21, 22, 24);

      flex: 0 1 20%;

   }

}

.block-form__label {
   display: flex;
   align-items: start;
}

.block-form__checkbox {
   border: 1px solid rgb(21, 22, 24);
   background: rgb(255, 255, 255);
   margin-right: 10px;
}

.block-form__style {}

.block-form__checkbox-text {
   color: rgb(21, 22, 24);
   font-family: "Open Sans";
   font-size: 13px;
   font-weight: 300;
   line-height: 18px;
}



// =================================================== // 

@media(max-width: 1078px) {
   .block-form__header {
      text-align: center;
   }

   .block-form__box {
      flex-direction: column;
      justify-content: center;
   }

   .block-form__text {
      max-width: 780px;
      text-align: center;
   }

   .block-form__forma {
      max-width: 580px;
   }
}

@media(max-width: 450px) {
   .block-form {
      padding: 50px 0;
   }

   .block-form__header {
      margin-bottom: 30px;
   }

   .block-form__text {
      color: rgb(21, 22, 24);
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 300;
      line-height: 18px;
   }
}

@media(max-width: 390px) {
   .block-form__form-box {
      flex-direction: column;
   }

   .block-form__input {
      width: 100%;
   }

   .block-form__button {
      flex: 1 1 auto;
   }
}




// ===================== prioritise ================================ //

.prioritise {
   padding: 150px 0;
}

.prioritise__container {}

.prioritise__header {
   text-align: center;
   margin-bottom: 60px;
}

.prioritise__list {
   display: flex;
   justify-content: space-between;
   gap: 0px;
   margin: 0 -20px;
}

.prioritise__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 10px;
}

.prioritise__title {
   text-align: center;
   color: rgb(21, 22, 24);
   font-family: 'Open Sans';
   font-size: 30px;
   font-weight: 300;
   margin-bottom: 10px;
}

.prioritise__text {
   text-align: center;
   color: rgb(21, 22, 24);
   font-family: 'Open Sans';
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 40px;
   line-height: 24px;
}

.prioritise__image {}


// ======================= prioritise  АДАПТИВ =================================== // 

@media (max-width: 1150px) {
   .prioritise__list {
      flex-wrap: wrap;
      row-gap: 40px;
   }

   .prioritise__item {
      flex: 1 1 50%;
   }
}

@media (max-width: 680px) {
   .prioritise {
      padding: 60px 0;
   }

   .prioritise__item {
      flex: 1 1 100%;
   }

   .prioritise__text {
      margin-bottom: 20px;
   }
}